<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../styles/advancedView.css">
    <title> URL Shortener </title>
</head>
<body>
    <div class="backBtn">
        <a href="../views/index.html"><img src="../images/backButton.png" class="backBtnImg"></a>
    </div>

    <div class="info">
        <h1>Дълъг URL: <span id="original-url"></span></h1>
        <h1>Съкратен URL: <span id="short-url"></span></h1>
    </div>

    <div class="more-container">
        <div id="qrcode-container">
            <div id="qrcode"></div>
            <div id="downloadBtn"><p class="downloadTxt">Изтегли</p></div>
        </div>

        <div class="inner-container">
            <div class="custom-url">
                <input type="text" id="customURL" placeholder="Въведете персонализирано съкращение на URL адреса" autocomplete="off">
                <div class="customBtn"><p class="customTxt">Генериране</p></div>
            </div>
            <div class="auto-delete">
                <h1>Автоматично изтриване след:<br><span id="clickedTimesLeft">николко натискания</span></h1>
                <input type="number" id="clicksInput" placeholder="Брой натискания" min="0" step="1" oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value > 100) this.value = 100;">      
                <div class="autoDeleteBtn"><p class="autoDeleteTxt">Потвърждаване</p></div>
            </div>
        </div>
    </div>

    <script src="../scripts/advancedView.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</body>
</html>