<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../styles/index.css">
    <title> URL Shortener </title>
</head>
<body>
    <div class="url-shortener-container">
        <h1 class="title">Съкращаване на URL адрес</h1>
        <input type="text" id="originalURL" placeholder="Въведете URL адрес тук" autocomplete="off">
        <div class="choose-length">
            <label><input type="radio" class="length" name="length" value="5" checked> 5 символа</label>
            <label><input type="radio" class="length" name="length" value="6"> 6 символа</label>
            <label><input type="radio" class="length" name="length" value="7"> 7 символа</label>
            <label><input type="radio" class="length" name="length" value="8"> 8 символа</label>
            <label><input type="radio" class="length" name="length" value="9"> 9 символа</label>
            <label><input type="radio" class="length" name="length" value="10"> 10 символа</label>
        </div>
        <div class="btn" onclick="shortenURL()"><p class="btn-txt">Генериране</p></div>
    </div>

    <div id="short-urls-container">
        <h1 class="short-urls-title">Съкратени URL адреси:</h1>
    </div>

    <script src="../scripts/urlShortener.js"></script>
</body>
</html>