@{
    ViewData["Title"] = "Скъсяване на URL адрес";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />

    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="main-function-container">
        <h1>Съкращаване на URL адрес</h1>
        <input type="url" class="form-control" id="urlInput" name="url" placeholder="Въведете линк тук" required />
        <div class="length-selection">
            <label>
                <input type="radio" name="urlLength" value="5" checked>
                5 символа
            </label>
            <label>
                <input type="radio" name="urlLength" value="6">
                6 символа
            </label>
            <label>
                <input type="radio" name="urlLength" value="7">
                7 символа
            </label>
            <label>
                <input type="radio" name="urlLength" value="8">
                8 символа
            </label>
            <label>
                <input type="radio" name="urlLength" value="9">
                9 символа
            </label>
            <label>
                <input type="radio" name="urlLength" value="10">
                10 символа
            </label>
        </div>
        <div class="btn"><p>Генерирай</p></div>
    </div>
</body>
</html>