body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.info {
    background-color: rgb(156, 213, 250);
    box-shadow: 0 0 20px 10px rgb(134, 160, 178);
    width: 70%;
    margin: 1% auto 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 1%;
    text-align: center;
}

.info h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(44, 44, 44);
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
}

.info span {
    color: rgb(89, 89, 89);
    word-wrap: break-word;
    display: inline-block;
    width: 90%;
    text-overflow: ellipsis;
}

.more-container{
    width: 70%;
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

/**************
INNER CONTAINER
**************/
.inner-container{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.custom-url{
    border-radius: 30px;
    background-color: rgb(156, 213, 250);
    box-shadow: 0 0 20px 3px rgb(134, 160, 178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 3% 0;
}
#customURL{
    color: rgb(44, 44, 44);
    width:  90%;
    font-size: 1rem;
    padding: 0.5%;
    border: 2px solid rgb(88, 145, 183);
    outline: none;
    user-select: none;
}
#customURL:focus{
    border: 2px solid rgb(53, 104, 138);
    outline: none;
}
.customBtn{
    background-color: rgb(200, 233, 255);
    box-shadow: 0 0 20px 10px rgb(135, 178, 206);
    cursor: pointer;
    border-radius: 15px;
    padding: 0 3%;
    margin-top: 2.5%;
}
.customBtn:hover{
    background-color: rgb(193, 215, 230);
}
.customTxt{
    color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: 520;
    user-select: none;
}

.auto-delete{
    border-radius: 30px;
    background-color: rgb(156, 213, 250);
    box-shadow: 0 0 20px 3px rgb(134, 160, 178);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 3%;
}
.auto-delete h1{
    color: rgb(44, 44, 44);
    font-size: 1.5rem;
    font-weight: 520;
    user-select: none;
    margin-bottom: 4%;
    text-align: center;
}
#clicksInput{
    width: 90%;
    color: rgb(44, 44, 44);
    font-size: 1rem;
    padding: 0.5%;
    border: 2px solid rgb(88, 145, 183);
    outline: none;
    user-select: none;
}
#clicksInput:focus{
    border: 2px solid rgb(53, 104, 138);
    outline: none;
}
.autoDeleteBtn{
    background-color: rgb(200, 233, 255);
    box-shadow: 0 0 20px 10px rgb(135, 178, 206);
    cursor: pointer;
    border-radius: 15px;
    padding: 0 3%;
    margin-top: 4%;
}
.autoDeleteBtn:hover{
    background-color: rgb(193, 215, 230);
}
.autoDeleteTxt{
    color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: 520;
    user-select: none;
}

/******
QR CODE
******/
#qrcode-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: rgb(156, 213, 250);
    box-shadow: 0 0 20px 10px rgb(134, 160, 178);
    padding: 3% 2% 2%;
    width: 28%;
    height: 100%;
    gap: 1.5rem;
}

#qrcode{
    box-shadow: 0 0 20px 10px rgb(134, 160, 178);
    user-select: none;
}

#downloadBtn{
    background-color: rgb(200, 233, 255);
    box-shadow: 0 0 20px 10px rgb(135, 178, 206);
    cursor: pointer;
    border-radius: 15px;
    padding: 0 6%;
    margin-top: 2.5%;
}

#downloadBtn:hover{
    background-color: rgb(193, 215, 230);
}

.downloadTxt{
    color: rgb(44, 44, 44);
    font-size: 1.1rem;
    font-weight: 520;
    user-select: none;
}

/*******
BACK BTN
*******/
.backBtn{
    border: 5px solid rgb(126, 178, 212);
    background-color: rgb(156, 213, 250);
    border-radius: 100%;
    overflow: hidden;
    margin-top: 1%;
    margin-left: 1%;
    width: 6%;
    display: flex;
    justify-content: center;
}

.backBtnImg{
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    user-select: none;
}

.backBtnImg:hover{
    transform: rotate(-180deg);
}