body{
    font-family: 'Montserrat', sans-serif;
}

.url-shortener-container{
    background-color: rgb(156, 213, 250);
    box-shadow: 0 0 20px 10px rgb(134, 160, 178);
    width: 80%;
    margin: 3% auto 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 1.5%;
}

.title{
    color: rgb(44, 44, 44);
    font-size: 2.2rem;
    font-weight: 700;
}

.btn{
    background-color: rgb(200, 233, 255);
    box-shadow: 0 0 20px 10px rgb(135, 178, 206);
    cursor: pointer;
    border-radius: 15px;
    padding: 0 1%;
    margin-top: 2.5%;
}

.btn:hover{
    background-color: rgb(193, 215, 230);
}

.btn-txt{
    color: rgb(44, 44, 44);
    font-size: 1.1rem;
    font-weight: 520;
}

#originalURL{
    color: rgb(44, 44, 44);
    width:  98%;
    font-size: 1rem;
    padding: 0.5%;
    border: 2px solid rgb(88, 145, 183);
    outline: none;
}

#originalURL:focus{
    border: 2px solid rgb(53, 104, 138);
    outline: none;
}